In [1]:
import pandas as pd

In [2]:
from DeepRetail.data.dataloader import Reader

In [2]:
case_filepath = "/home/filtheo/Data_folder/M5/Accuracy/sales_train_validation.csv"
calendar = "/home/filtheo/Data_folder/M5/Accuracy/calendar.csv"
out_path = "/home/filtheo/DeepRetail/DeepRetail/data/data_folder/m5_day.csv"

# Call the reader
r = Reader(case=0, filepath=case_filepath,calendar_filepath=calendar)
r.save(out_path, frequency="D", format="pivoted", calendar_filepath=calendar)

Loading completed. Saving.

In [5]:
df = pd.read_csv('/home/filtheo/DeepRetail/DeepRetail/data/data_folder/m5_day.csv', index_col=0)
df.head()

,2011-01-29,2011-01-30,2011-01-31,2011-02-01,2011-02-02,2011-02-03,2011-02-04,2011-02-05,2011-02-06,2011-02-07,...,2016-04-15,2016-04-16,2016-04-17,2016-04-18,2016-04-19,2016-04-20,2016-04-21,2016-04-22,2016-04-23,2016-04-24
unique_id,,,,,,,,,,,,,,,,,,,,,
HOBBIES_1_001_CA_1,0,0,0,0,0,0,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
HOBBIES_1_002_CA_1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
HOBBIES_1_003_CA_1,0,0,0,0,0,0,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
HOBBIES_1_004_CA_1,0,0,0,0,0,0,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
HOBBIES_1_005_CA_1,0,0,0,0,0,0,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [3]:
case_filepath = '/home/filtheo/DeepRetail/DeepRetail/data/data_folder/supra_new.csv'
out_path = "/home/filtheo/DeepRetail/DeepRetail/data/data_folder/supra_update.csv"

# Call the reader
r = Reader(case=3, filepath=case_filepath)
r.save(out_path, frequency="M", format="pivoted")

/home/filtheo/DeepRetail/DeepRetail/data/casereaders.py:292: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(read_filepath, sep=",", engine="python", error_bad_lines=False)
Skipping line 839727: ',' expected after '"'
Skipping line 975293: ',' expected after '"'
Skipping line 1011863: ',' expected after '"'
Skipping line 1023400: ',' expected after '"'
Skipping line 1023407: ',' expected after '"'
Skipping line 1024275: ',' expected after '"'
Skipping line 1028064: ',' expected after '"'
Skipping line 1028065: ',' expected after '"'
Skipping line 1028708: ',' expected after '"'
Skipping line 1029546: ',' expected after '"'
Skipping line 1030368: ',' expected after '"'
Skipping line 1033392: ',' expected after '"'
Skipping line 1033427: ',' expected after '"'

Loading completed. Saving.

In [4]:
df = pd.read_csv(out_path, index_col=0)
df.head()

,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,...,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30
unique_id,,,,,,,,,,,,,,,,,,,,,
GUL-06K,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GUL-06K11,33.0,20.0,10.0,0.0,18.0,10.0,17.0,15.0,12.0,20.0,...,4.0,6.0,12.0,43.0,17.0,9.0,2.0,7.0,11.0,8.0
GUL-06K12,5.0,5.0,0.0,1.0,0.0,2.0,3.0,1.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
GUL-06K13,6.0,6.0,0.0,0.0,5.0,8.0,1.0,2.0,3.0,3.0,...,3.0,4.0,6.0,18.0,9.0,5.0,7.0,7.0,7.0,3.0
GUL-06K14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
a = pd.read_csv('/home/filtheo/Data_folder/companies/suprabazzar/supra_data.csv', index_col=0)

a

/tmp/ipykernel_4890/1979505360.py:1: DtypeWarning: Columns (6,8,19,20,23,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv('/home/filtheo/Data_folder/companies/suprabazzar/supra_data.csv', index_col=0)

,Tijd,Artikel,Groep,Resource,Trans,Type,Document,Inuit,Voorraad,Akp_pr,...,Besteltype,Lev_munt,Verp_aant,Min_bestelhoev,Exclincl,Par1,Par2,Par3,Klasse,Intrastat
Datum,,,,,,,,,,,,,,,,,,,,,
2022-03-13,11:30:05,503421.0,06KB7,WEB,NaN,NaN,BS198456/ 1,1.0,1.0,0.00,...,2.0,EUR,1.0,0.0,1.0,NaN,02382,NaN,A- 3,NaN
2022-03-13,10:30:05,29223033.0,06KB2,WEB,NaN,NaN,BS198449/ 2,1.0,1.0,0.00,...,2.0,EUR,3.0,1.0,1.0,NaN,02415,TELLIER,A- 62,NaN
2022-03-13,10:15:11,28766638.0,06KB84,WEB,NaN,NaN,BS198445/ 3,1.0,1.0,0.00,...,2.0,EUR,4.0,1.0,1.0,NaN,01175,TEFAL,A- 18,NaN
2022-03-13,10:15:11,26844093.0,06KB1,WEB,NaN,NaN,BS198445/ 1,1.0,1.0,0.00,...,2.0,EUR,32.0,8.0,1.0,NaN,02364,COSY&TRENDY,B- 6,NaN
2022-03-13,10:55:27,858816.0,06K41,TIER,VK,NaN,KT048702/323,-1.0,0.0,3.74,...,2.0,EUR,12.0,0.0,1.0,NaN,01165,COSY&TRENDY,A- 37,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01,00:37:20,78224.0,06KB21,GUL,TL,NaN,RC610724/103,2.0,3.0,6.41,...,2,EUR,6.0,0.0,1.0,NaN,01598,PYREX,A- 17,NaN
2020-01-01,00:37:20,51995.0,06KB21,GUL,TL,NaN,RC610724/102,4.0,4.0,5.53,...,2,EUR,6.0,0.0,1.0,NaN,01592,PYREX,A- 9,NaN
2020-01-01,00:37:20,24044.0,06KB5,GUL,TL,NaN,RC610724/105,6.0,6.0,5.23,...,2,EUR,6.0,0.0,1.0,NaN,01595,PYREX,A- 10,NaN
2020-01-01,00:37:20,10373.0,06KB2,GUL,TL,NaN,RC610724/100,3.0,6.0,6.58,...,2,EUR,6.0,0.0,1.0,NaN,01595,PYREX,A- 25,NaN
2020-01-01,00:37:20,10364.0,06KB21,GUL,TL,NaN,RC610724/ 99,1.0,2.0,14.61,...,2,EUR,3.0,0.0,1.0,NaN,01608,PYREX,A- 13,NaN

In [6]:
b = pd.read_csv('/home/filtheo/DeepRetail/DeepRetail/data/data_folder/supra_new.csv', index_col = 0 )
b

/tmp/ipykernel_4890/2139795635.py:1: DtypeWarning: Columns (6,20,23,27,36) have mixed types. Specify dtype option on import or set low_memory=False.
  b = pd.read_csv('/home/filtheo/DeepRetail/DeepRetail/data/data_folder/supra_new.csv', index_col = 0 )

,Tijd,Artikel,Groep,Resource,Trans,Type,Document,Inuit,Voorraad,Akp_pr,...,Besteltype,Lev_munt,Verp_aant,Min_bestelhoev,Exclincl,Par1,Par2,Par3,Klasse,Intrastat
Datum,,,,,,,,,,,,,,,,,,,,,
2023-06-13,11:00:05,503421,06KB7,WEB,NaN,NaN,BS245954/ 1,1.0,1.0,0.00,...,2.0,EUR,1.0,0.0,1.0,NaN,02405,NaN,A- 3,NaN
2023-06-13,04:45:02,30792803,06KB1,WEB,NaN,NaN,BS245922/ 4,1.0,1.0,0.00,...,2.0,EUR,12.0,1.0,1.0,NaN,02076,CAMILLE,A- 4,NaN
2023-06-13,04:45:02,30792799,06KB1,WEB,NaN,NaN,BS245922/ 3,1.0,1.0,0.00,...,2.0,EUR,6.0,1.0,1.0,NaN,02077,CAMILLE,A- 4,NaN
2023-06-13,15:30:12,28683939,06KB1,WEB,NaN,NaN,BS246007/ 1,3.0,3.0,0.00,...,2.0,EUR,4.0,1.0,1.0,NaN,01293,SISTEMA,A- 58,NaN
2023-06-13,12:00:06,28256744,06KB1,WEB,NaN,NaN,BS245960/ 2,2.0,2.0,0.00,...,2.0,EUR,12.0,1.0,1.0,NaN,01364,POINT VIRGUL,A- 60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-31,11:41:22,373930,06KB7,GUL,VK,NaN,KT544562/074,-1.0,3.0,1.51,...,2,EUR,12.0,0.0,1.0,NaN,02293,Amuse,A- 35,NaN
2023-01-31,15:45:32,371266,06KB7,GUL,TL,NaN,RC643490/ 29,5.0,5.0,3.73,...,2,EUR,5.0,0.0,1.0,NaN,01386,NaN,B- 4,NaN
2023-01-31,15:45:32,328525,06KB7,GUL,TL,NaN,RC643490/ 30,3.0,6.0,2.52,...,2,EUR,10.0,0.0,1.0,NaN,01402,NaN,A- 36,NaN
2023-01-31,11:03:10,311319,06KB2,GUL,VK,NaN,KT544552/074,-1.0,14.0,2.07,...,2,EUR,24.0,0.0,1.0,NaN,01383,PATISSE,A- 13,NaN
2023-01-31,15:51:12,30729614,06KB3,GUL,VK,NaN,KT977693/062,-1.0,2.0,1.75,...,2,EUR,24.0,1.0,1.0,NaN,02355,NaN,A- 78,NaN